{% extends "Election_Portal/template.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div>
    <h2 style="text-align:center">Parliamentary Elections</h2>
	<div class="row">
		<div class="col s2"></div>
		<div class="col s8">
		<div class="card">
			<h3 style="text-align:center"><font color="#8B008B">About</font></h3>
			<p>
				Parliamentary Elections are conducted annually in IIT BHU used to select representatives of students. Represenatives are choosen independently from each year. Elected candidates work for the welfare of students and hence, institute. 8 Representatives will be selected each from Part-I,II,III and IV, while 3 represenatitves from Part-V.
			</p>
			<h3 style="text-align:center"><font color="#8B008B">Schedule</font></h3>
			<p align="center">
				Nominations will close strictly by 25 October 5pm.
			</p>
			<p align="center">
				Elections on 30th October 2016 from 10am to 5pm.
			</p>
		</div>
		</div>
		<div class="col s2"></div>
	</div>
	<form>
	<div class="row">
    	<div class="col s5"></div>
    		<div class="col s2">
    			<button type="submit" name="action">NOMINATE FOR ELECTIONS</button>
    		</div>
    	<div class="col s5"></div>
    </div>
    </form>
</div>
{% endblock %}