{% load staticfiles %}
<!DOCTYPE html>
<!--
Front end sucks real bad! None in our team is a good designer. :/
-->
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="msapplication-tap-highlight" content="no">
	<title>Login | Election Portal</title>
	<link rel="stylesheet" type="text/css" href="{% static 'Election_Portal/css/mycss.css' %}"/>
</head>
<body>
	<form method="POST">
		<center><img src="{% static 'Election_Portal/images/logo.jpg' %}"><br><h1>ELECTION PORTAL LOGIN</h1></center>
		<br>
		<div class="Form-unit">
			<input type="text" name="email" id="email" placeholder="Enter @iitbhu.ac.in email">
			<label for="email">Email</label>
		</div>
		<div class="Form-unit">
			<input type="text" name="pass" id="pass" placeholder="Enter password">
			<label for="pass">Password</label>
		</div>
		<div class="Form-unit">
			<input type="submit" name="submit" style="background-color:#FFFFFF">
		</div>
	</form>
</body>
