{% extends "Election_Portal/template.html" %}
{% block title %}FAQ{% endblock %}
{% block content %}

<div class="row">
    <div class="center"><h4>Frequently Asked Questions</h4></div>
    <div class="col s10 offset-s1">
        <blockquote>
            <b>Q.</b> How can I vote?<br>
            <b>A.</b> Once you have logged in, go to ongoing elections page. Click on vote link corresponding to the election you want to vote for. Select the candidate you want to vote and then submit. 
        </blockquote>
        <blockquote>
            <b>Q.</b> I have forgot my password/I want to change password, what to do now?<br>
            <b>A.</b> You need to contact to administrator of site to change password. 
        </blockquote>
        <blockquote>
            <b>Q.</b> How to see results of elections which were previously held?<br>
            <b>A.</b> Go to previous elections page and click on the name of corresponding election. 
        </blockquote>        
        <blockquote>
            <b>Q.</b> How to nominate for any election?<br>
            <b>A.</b> Go to upcoming elections page. Select on the nomination link corresponding to the election you want to nominate for. Complete your details and submit. 
        </blockquote>
        <blockquote>
            <b>Q.</b> How to see manifesto of a candidate?<br>
            <b>A.</b> Click on the name of corresponding election. A list of candidate will appear. Click on the name of candidate and manifesto will appear. 
        </blockquote>
        <blockquote>
            <b>Q.</b> How to know whether I have successfully voted?<br>
            <b>A.</b> Once you have voted, you will recieve an e-mail that you have voted successfully. 
        </blockquote>
        <blockquote>
            <b>Q.</b> Can I change my vote once I have voted?<br>
            <b>A.</b> No, it is not possible to change your vote once youhave voted so mark your vote carefully. 
        </blockquote>
        <blockquote>
            <b>Q.</b> When will I know about the results of election?<br>
            <b>A.</b> As soon as the elections are over, the election which was going will be converted into past election and you can go to past election page to see the result. 
        </blockquote>

    </div>
    <div class="col s1"></div>
</div>


{% endblock %}