{% extends "Election_Portal/template.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block javascript %}
$(document).ready(function(){
$('.modal-trigger').leanModal();
});
{% endblock %}
{% block content %}
<div class="container" style="margin-top:20px">
	<div class="row">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s6"><a href="#past">Past Elections</a></li>
				<li class="tab col s6"><a class="active" href="#ongoing">Ongoing Elections</a></li>
				<li class="tab col s6"><a href="#upcoming">Upcoming Elections</a></li>
			</ul>		
		</div>
		<div id="past" class="col s12">
			<table class="striped centered">
				<thead>
					<tr>
						<th data-field="name">Election</th>
						<th data-field="winner">Winner</th>
						<th data-field="details">Details</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Parliament Head
						</td>
						<td>
							Pranjal
						</td>
						<td>
							<a href="#modal1" class="modal-trigger">Link</a>
						</td>
					</tr>
					<tr>
						<td>
							Parliament Head
						</td>
						<td>
							Pranjal
						</td>
						<td>
							<a href="">Link</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div id="modal1" class="modal modal-fixed-footer z-depth-3">
				<div class="modal-content">
					<h4 class="center-align">Parliament Head</h4>
					<br>
					<div class="center"><img src="{% static 'Election_Portal/images/winner.jpg' %}" class="border-image"></div>
					Detailed Result:
				</div>
			</div>
		</div>
		<div id="ongoing" class="col s12">
			No ongoing elections available as of now.
		</div>
		<div id="upcoming" class="col s12">
			No upcoming elections available as of now.
		</div>
	</div>
</div>

{% endblock %}