{% load staticfiles %}
<!DOCTYPE html>
<!--
Front end sucks real bad! None in our team is a good designer. :/
-->
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{% block title %}Page Title{% endblock %} | Election Portal</title>
	<link rel="stylesheet" type="text/css" href="{% static 'Election_Portal/css/materialize.min.css' %}"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'Election_Portal/css/style.css' %}"/>
	<script type="text/javascript" src="{% static 'Election_Portal/js/jquery-3.1.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'Election_Portal/js/materialize.min.js' %}"></script>

	
	<script type="text/javascript">
		{% block javascript %}{% endblock %}
	</script>
	
</head>
<body>
	<header>
		<div class="row"  style="padding:1%;border-color:#800000;border-top-width:5px;border-bottom-width:5px;border-right-width:0px;border-left-width:0px;border-style:solid;margin-bottom:0px">
			<div class="col s10 offset-s1 center"><img class="responsive-img" src="{% static 'Election_Portal/images/header.png' %}"></div>		
		</div>
		<nav class="z-depth-1">
		<div class="nav-wrapper row">
			<div class="col s4"><a class="btn" href="/">HOME</a></div>
			<div class="col s4"><center class="unselectable">Hello, {{ user.username }}</center></div>
			<!-- <div class="col s1"><a href="{% url 'Election_Portal:faq' %}" class="waves-effect waves-light btn">FAQ</a></div> -->
			<div class="col s4 right-align">
				<a class="dropdown-button btn" data-beloworigin="true" data-hover="true" href="#" data-activates='dropdown1'>Options</a>
				<ul id="dropdown1" class="dropdown-content">
					<li><a href="{% url 'Election_Portal:faq' %}">FAQ</a></li>
					<li class="divider"></li>
					<li><a href="{% url 'Election_Portal:contact' %}">Contact Us</a></li>
					<li class="divider"></li>
					<li><a href="{% url 'Election_Portal:logout' %}">Logout</a></li>
				</ul>
			</div>
		</div>
		</nav>
	</header>
	<main style="padding:1%">
		{% block content %}{% endblock %}
	</main>
	<footer>
		<div class="row"  style="background-color:#800000;margin:0px">
			<div class="col s2"></div>
			<div class="col s8">
				<img class="right responsive-img" src="{% static 'Election_Portal/images/footer-img.png' %}"><br><br><br><br>
				<span class="right" style="color:#FFFFFF">&copy;2016 All Rights Reserved IIT (BHU) Varanasi</span>	
			</div>
			<div class="col s2"></div>
		</div>
	</footer>
</body>
</html>
